/*
 Description:    WSU University Communications global template file
 Author:         WSU University Communications
 Author URI:     http://ucomm.wsu.edu
 Version:        0.0.1
*/

/*
Title: Site header, page titles, and tag structures
Description: Structuring of header, page titles, and tag lines to accomodate the University Communications theme.
*/

/* .acBanner is the accent bar that stretches across the template */
.acBanner {
width:100%;
height: 30px;
background-color: #B5BABE;
}
/* Adjusting the header area so that University Communications is below the logo on the Spine, flush left, removes tagline, and removes page title */
main > header {
	margin-left:2em;
	margin-bottom:4em;
	margin-top:1em;
}
/* Hiding the tagline from the hgroup */
main > header hgroup .tagline {
	display:none;
}
/* Hiding the page name from the hgroup to prevent double page names */
main > header hgroup .page {
	display:none;
}
/* Adds Communications in Gray */
.site .addGray {
	color: #5E6A71;
}
/*
Title: Typography
Description: Styling of University Communications typography for p, h1, h2, h3, h4, h5, titles, and related entities.
*/
.site > a:nth-child(1) {
	font-family: 'open sans', lucida sans, sans serif;
	font-size:2em;
	line-height: 100%;
	color: #981E32;
}
.article-header h1 {
	font-family: Palatino, "Palatino Linotype", Baskerville, "Century Schoolbook L", "Times New Roman", serif;
	font-style: italic;
	font-size: 2.325em;
	margin-bottom: 2em;
}
/* Headers are Palatino italic lowercase BLACK */
article h1, h2, h3, h4, h5, h6 {
	font-family: sans-serif;
	font-weight: lighter;
	text-transform: lowercase;
	color:black;
}
article h1 {
}
/* Adjusting the margin on the h2 to pull the h2 further */
article h2 {
	margin-top: 1em;
	margin-bottom: .675em !important;
}
/* Adjusting the margin on the h2 to pull the h3 further */
article h3 {
	margin-top: 1em;
	margin-bottom: .675em;
	font-weight: lighter;
}
/* Adjusting the margin on the h2 to pull the h3 further */
article h4 {
	margin-top: 1em;
	margin-bottom: .675em;
}
/* h5 is a supplimentary header using WSU accent blue http://brand.wsu.edu/visual/colors/ */
article h5 {
	color: #4f868E;
}
article h6 {
}
article header .inline {
	float:left;
	margin-top:.4em;
	margin-right:.4em;
	margin-bottom:0;
	padding:0px;
	font-size:1em;
	font-weight:600;
}
article p {
	color: #8D959A;
	line-height: 1.875em;
	margin-bottom:2em;
}
article strong {
	color:#464E54;
}
/* Styling of the paragraphs that follow h5 to match the h5 tag */
article h5 + p {
	font-size: .875em;
	line-height: 1.875em;
	color: #4f868E;
}
/* Styling of the paragraphs that follow h6 to match the h5 tag */
article h6 + p {
	font-size: .875em;
	line-height: 1.875em;
	color: #000;
}
/* Styling of the paragraphs that follow the main header to introduce the page and page summary */
article .uCintro {
	color: #8D959A;
	font-size: 1.2em;
	text-align: justify;
	line-height: 2em;
	margin-bottom:8%;
}

/* Defining Pika margin */
.ss-icon {
	margin-left:.5em;
}
/* Styling of ordered lists and un-ordered lists */
article ul, ol {
	color: #8D959A;
	font-size: .885em;
	line-height: 1.5em;
	margin-bottom:2em;
}
article p~ul {
	margin-top:-1.775em;
	margin-left:4em;
	width:80%;
}
article p~ol {
	margin-top:-2em;
	margin-left:4em;
	width:80%;
}
article h3~ol {
	margin-top:2em;
	margin-left:4em;
	width:80%;
}
article ul li {
    list-style-type: none;
    position:relative;
    margin:0;
    padding:1px;
	      }

article ul li:before {
	font-size: .825em;
	width:1em;
	height: 1em;
	vertical-align: middle;
	font-family: "SSPika";
	content: 'directright';
	position:absolute;
	left:-20px;
}
/* Styling of linked elements */
article a {
	color: #4F868E;
}
article a:hover {
	color: #193838;
	}
/*
Title: Blockquotes & Citations
Description: Styling of block quotes & citations 
*/
blockquote {
	font-weight: bold;
	font-size: 1.2em;
	line-height: 1.875em;
	margin-left:25%;
	margin-top:1%;
	margin-bottom:8%;
	padding: 0.5em;
	/*quotes: "\201C""\201D""\2018""\2019";*/
}
blockquote:before {
	color: #b67233;
	font-family: "SSPika";
	content: '\201C';
	font-size: 1.2em;
	margin-right: 0.60em;
	vertical-align: -0.3em;
	display:inline-block;
	  -moz-transform: scaleX(-1); /* Gecko */
        -o-transform: scaleX(-1); /* Operah */
        -webkit-transform: scaleX(-1); /* webkit */
        transform: scaleX(-1); /* standard */
        filter: FlipH; /* IE 6/7/8 */
}
blockquote p {
	color: #b67233;
	display: inline;
}
blockquote cite {
	width:100%;
	display: block;
	color: #5E6A71;
	font-size: .875em;
	margin-top: 4%;
	margin-left:20%;
}
blockquote cite:hover {
	color: #4F868E;
}
blockquote  cite:before {
	content: "—";
}
/* Title: Other elements such as aside, element, font, output, figure, and ect. */
aside {
	background-color: #EFF0F1;
	font-size:.875em;
	color:#5E6A71;
	padding:1em;
	margin:1.275em;
	text-align: center;
	border-style:solid;
	border-color:#D7DAD8;
	border-width:1px 0px 1px 0px;
}
article address {
	font-size:.875em;
	line-height: 1.5em;
	color:#8D959A;
	padding-left:1em;
	margin-bottom: 1em;
}
hr {
	height: 2px;
	border:0;
	background-color:#8D959A;
	line-height: 20px;
	margin-top:4em;
	margin-bottom:4em;
}
hr:before {
	content: '';
	display: block;
	height:1px;
	background-color:#8D959A;
}
hr:after {
	font-family: "SSPika";
    content: '\E202';
    color:#8D959A;
    display:block;
    text-align:center;
    background-color:#f9f9f9;
    width:60px;
    margin-top:-10px;
    position:absolute;
    left:50%;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%);  
}
/*
Title: Template structures
Description: Create structure elements for the template such as supplimentary content divs, call to action, and ect.
*/
/* Create the Featured content frame */
#featureFrame {
	width: inherit;
	padding-top:4%;
	padding-bottom:2%;
	border-style:solid;
	border-color:black;
	border-width:1px 1px 8px 0px;
		}
.size-lt-large #fixedSide {
	position: relative;
	margin-top:140px;

}
#fixedSide {
	position:fixed;
	width:100%;
	margin-top:75px;
	}
#fixedSide .green {
	background-color: #F4F2EB;
	border-style:solid;
	border-color:#E3DFCD;
	border-width:8px 0px 4px 0px;
}
#fixedSide .orange {
	background-color: #F8F1EB;
	border-style:solid;
	border-color:#eddccc;
	border-width:8px 0px 4px 0px;
}
#fixedSide .yellow {
	background-color: #F9F4E7;
	border-style:solid;
	border-color:#f1e4c4;
	border-width:8px 0px 4px 0px;
}
#fixedSide article h6 {
	margin: 1em;
}
#fixedSide article ul {
	margin: 1em;

}
#fixedSide article ul li:before {
	content:'';
}